* {
 box-sizing: birder-box;
 margin: 0;
 padding: 0;
}

body {
 font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
 font-size: 16px;
 background: rgb(182, 235, 206);
 color: rgb(33, 33, 88);
 line-height: 1.5;
 margin-bottom: 50px;
}

.container {
 margin: 0 auto;
 padding: 0 40px;
}

.form {
 width: 50%;
 margin: auto;
}

.form input {
 width: 100%;
}

.form select {
 width: 100%;
}
.mybtn {
 width: 50%;
}

footer {
 position: fixed;
 width: 100%;
 height: 20px;
 background: rgb(33, 33, 88);
 color: aliceblue;
 bottom: 0px;
 font-weight: lighter;
 font-size: 12px;
 text-align: center;
 text-justify: center;
 padding-top: 5px;
}

thead {
 background-color: rgb(80, 78, 78);
}

th,
td {
 padding: 0px 10px 0px 10px;
}

table,
th,
td {
 border: rgb(136, 134, 134) solid 2px;
}
