{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<h1 style="font-weight:bold">Dashboard</h1>
<br><br>
<div>
    <h2>Your Profile</h2><br>
    <p><strong>Name:</strong> {{ user.firstname }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Join Date:</strong> {{ user.date_joined }}</p>
    {% if user.isadmin %}
    <p><strong>Admin:</strong>Yes</p>
    {% else %} 
    <p><strong>Admin: </strong>No</p>
    {% endif %}
</div>
<br><br>
<div>
    <h2>Your Articles</h2><br>

</div>

{% endblock content %}