<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    ">
        <p>Duis auctor ante placerat lectus faucibus tempor. Duis auctor nisl quis tortor tristique consectetur. Cras pretium quam
        sed mauris pretium, vel commodo nisi blandit. Phasellus ultricies aliquam cursus. Donec nec ullamcorper ex. In hac
        habitasse platea dictumst. Suspendisse a euismod risus, non cursus enim. Mauris tempor erat dolor, a imperdiet odio
        laoreet non. Sed blandit, enim non bibendum malesuada, quam mi vulputate magna, in tincidunt leo diam eu erat. Donec id
        venenatis magna. Fusce rutrum ligula condimentum purus rutrum accumsan. Duis porta odio sed commodo molestie. Nunc
        mauris augue, dapibus tincidunt massa id, iaculis pulvinar nibh. Cras nulla urna, commodo ac hendrerit in, sodales ac
        ipsum.</p>
    </div>
</body>
</html>